html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.my-header {
    background-color: blue;
    display: block;
    height: 10%;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    text-transform: capitalize;
    font-size: 50px;
}

.my-nav{
    background-color: red;
    display: block;
    float: left;
    height: 35%;
    width: 40%;
}

.para1 {
    display: flex;
    justify-content: end;
    font-style: italic;
    font-size: x-large;
}

.my-main {
    background-color: yellow;
    display: block;
    float: right;
    height: 35%;
    width: 60%;
}

.my-aside {
    background-color: green;
    display: block;
    float: left;
    height: 50%;
    width: 50%;
}

.para3 {
    display: flex;
    justify-content: center;
}

img {
    position: absolute;
    width: 400px;
    padding: 50px 200px;
}

.my-section {
    background-color: orange;
    display: block;
    float: right;
    height: 50%;
    width: 50%;
}

.my-footer {
    background-color:blue;
    display: block;
    float: left;
    height: 15%;
    width: 100%;
}